**Welcome to my code!**

In [2]:
import pandas as pd

In [3]:
import json 
from pandas.io.json import json_normalize

In [55]:
json.load((open('world_bank_projects.json')))
df = pd.read_json('world_bank_projects.json')
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

<span style="background-color:orange">Here I started question 1. "Find the 10 **countries** with the most projects. I know it's a large and complex land, but Africa itself is not a country and can skew the results.

In [6]:
df.countryshortname.value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

<span style="background-color:orange">With no way to identify the countries within Africa I decided to remove Africa from the list to get a more accurate reading.

In [59]:
df_noafrica = df[df.countryshortname != 'Africa']
df_noafrica.head(25)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,JB,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,LR,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BM,BC,BZ",IBRD,Active,N,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,"AZ,JB,AH",IBRD,Active,Y,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"JB,YC,WD,TI",IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,CZ,IBRD,Active,N,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,"BV,TI",IBRD,Active,Y,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,TI,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"AZ,AJ,AH",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,EP,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,"BK,JB,BH,BC,JA",IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BH,BC,BZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,"BH,YW,JB",IBRD,Active,N,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"WC,BS,BH,TZ,WB",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,JA,IBRD,Active,N,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,"AB,AZ,YA",IBRD,Active,N,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...

1.) **Find the 10 countries with most projects**

In [9]:
df_noafrica.countryshortname.value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Burkina Faso           9
Name: countryshortname, dtype: int64

<span style="background-color:orange">Ok, this was the only piece I sourced from our community manager, that I don't quite understand. I believe loading the data raw gets rid of integers and treats everything like strings. At least that's what I got when I tried to run it without raw. 

<span style="background-color:orange">Please, if you have any feedback on that let me know.

In [13]:
with open ('world_bank_projects.json') as f:
    raw=json.load(f)

In [58]:
df_themes = json_normalize(raw, 'mjtheme_namecode',['id'])
df_themes.head(25)

   code                                          name       id
0     8                             Human development  P129828
1    11                                                P129828
2     1                           Economic management  P144674
3     6         Social protection and risk management  P144674
4     5                         Trade and integration  P145310
5     2                      Public sector governance  P145310
6    11  Environment and natural resources management  P145310
7     6         Social protection and risk management  P145310
8     7                   Social dev/gender/inclusion  P144665
9     7                   Social dev/gender/inclusion  P144665
10    5                         Trade and integration  P144933
11    4      Financial and private sector development  P144933
12    6         Social protection and risk management  P146161
13    6                                                P146161
14    2                      Public sector governance  P121185
15    4      Financial and private sector development  P121185
16   11  Environment and natural resources management  P127033
17    8                                                P127033
18   10                             Rural development  P130164
19    7                                                P130164
20    2                      Public sector governance  P130903
21    2                      Public sector governance  P130903
22    2                      Public sector governance  P130903
23   10                             Rural development  P145339
24    2                                                P145339

In [60]:
df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(25)

id
P121152    5
P129652    4
P130749    4
P128284    4
P128573    4
P128891    4
P129688    4
P130174    4
P130459    4
P130471    4
P130925    4
P128140    4
P132210    4
P132757    4
P132768    4
P133663    4
P133706    4
P133791    4
P128251    4
P127787    4
P143060    4
P127723    4
P102627    4
P110836    4
P118027    4
Name: code, dtype: int64

2.) **Find the top 10 major project themes (using column 'mjtheme_namecode')**

In [30]:
df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(10)

id
P121152    5
P129652    4
P130749    4
P128284    4
P128573    4
P128891    4
P129688    4
P130174    4
P130459    4
P130471    4
Name: code, dtype: int64

<span style="background-color:orange">Here you can see that multiple ID exist for the themes. If you look at lines 23 and 25 you'll see that though they have the same name the ID's are different:

<span style="background-color:orange">23  10	Rural development	**P145339**

<span style="background-color:orange">25	10	Rural development	**P146653** </span>

<span style="background-color:orange">Secondly, some of the entries have names missings which also skews the data.

<span style="background-color:orange">The task is to not only find a a way to count the major themes but also fill in the missing names that correspond.

In [19]:
df_themes.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

<span style="background-color:orange">I decided to create a dictionary that had all the names as the index to see how many names are in the data set.</span>

In [20]:
df_dict = df_themes.set_index('name').to_dict()
df_dict

{'code': {'': '6',
  'Economic management': '1',
  'Environment and natural resources management': '11',
  'Financial and private sector development': '4',
  'Human development': '8',
  'Public sector governance': '2',
  'Rule of law': '3',
  'Rural development': '10',
  'Social dev/gender/inclusion': '7',
  'Social protection and risk management': '6',
  'Trade and integration': '5',
  'Urban development': '9'},
 'id': {'': 'P128309',
  'Economic management': 'P133339',
  'Environment and natural resources management': 'P132138',
  'Financial and private sector development': 'P126321',
  'Human development': 'P126321',
  'Public sector governance': 'P125298',
  'Rule of law': 'P131266',
  'Rural development': 'P117243',
  'Social dev/gender/inclusion': 'P127299',
  'Social protection and risk management': 'P129177',
  'Trade and integration': 'P126321',
  'Urban development': 'P126321'}}

<span style="background-color:orange">Next I needed to match the names to their corresponding codes. 
However, I needed all the blank names to have corresponding codes. I took the blanks out of the dictionary by using the **.pop()** function.</span>

In [21]:
df_dict['code']

{'': '6',
 'Economic management': '1',
 'Environment and natural resources management': '11',
 'Financial and private sector development': '4',
 'Human development': '8',
 'Public sector governance': '2',
 'Rule of law': '3',
 'Rural development': '10',
 'Social dev/gender/inclusion': '7',
 'Social protection and risk management': '6',
 'Trade and integration': '5',
 'Urban development': '9'}

In [22]:
df_dict['code'].pop('')
df_dict

{'code': {'Economic management': '1',
  'Environment and natural resources management': '11',
  'Financial and private sector development': '4',
  'Human development': '8',
  'Public sector governance': '2',
  'Rule of law': '3',
  'Rural development': '10',
  'Social dev/gender/inclusion': '7',
  'Social protection and risk management': '6',
  'Trade and integration': '5',
  'Urban development': '9'},
 'id': {'': 'P128309',
  'Economic management': 'P133339',
  'Environment and natural resources management': 'P132138',
  'Financial and private sector development': 'P126321',
  'Human development': 'P126321',
  'Public sector governance': 'P125298',
  'Rule of law': 'P131266',
  'Rural development': 'P117243',
  'Social dev/gender/inclusion': 'P127299',
  'Social protection and risk management': 'P129177',
  'Trade and integration': 'P126321',
  'Urban development': 'P126321'}}

<span style="background-color:orange"> Once I had the names corresponding to the codes correctly, I needed to flip the keys/values so that my "fill from dictionary" trick I just learned would work. </span>

In [23]:
code_dict = dict(zip(df_dict['code'].values(),df_dict['code'].keys()))
code_dict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [61]:
#Empty DataFrame
code_df = df_themes.set_index('code')                            
code_df.head(25)

                                              name       id
code
8                                Human development  P129828
11                                                  P129828
1                              Economic management  P144674
6            Social protection and risk management  P144674
5                            Trade and integration  P145310
2                         Public sector governance  P145310
11    Environment and natural resources management  P145310
6            Social protection and risk management  P145310
7                      Social dev/gender/inclusion  P144665
7                      Social dev/gender/inclusion  P144665
5                            Trade and integration  P144933
4         Financial and private sector development  P144933
6            Social protection and risk management  P146161
6                                                   P146161
2                         Public sector governance  P121185
4         Financial and private sector development  P121185
11    Environment and natural resources management  P127033
8                                                   P127033
10                               Rural development  P130164
7                                                   P130164
2                         Public sector governance  P130903
2                         Public sector governance  P130903
2                         Public sector governance  P130903
10                               Rural development  P145339
2                                                   P145339

3.) **Create a dataframe with the missing names filled in.**

In [63]:
#Updated DataFrame
code_df['name'].update(pd.Series(code_dict))
code_df.head(100)

                                              name       id
code
8                                Human development  P129828
11    Environment and natural resources management  P129828
1                              Economic management  P144674
6            Social protection and risk management  P144674
5                            Trade and integration  P145310
2                         Public sector governance  P145310
11    Environment and natural resources management  P145310
6            Social protection and risk management  P145310
7                      Social dev/gender/inclusion  P144665
7                      Social dev/gender/inclusion  P144665
5                            Trade and integration  P144933
4         Financial and private sector development  P144933
6            Social protection and risk management  P146161
6            Social protection and risk management  P146161
2                         Public sector governance  P121185
4         Financial and private sector development  P121185
11    Environment and natural resources management  P127033
8                                Human development  P127033
10                               Rural development  P130164
7                      Social dev/gender/inclusion  P130164
2                         Public sector governance  P130903
2                         Public sector governance  P130903
2                         Public sector governance  P130903
10                               Rural development  P145339
2                         Public sector governance  P145339
10                               Rural development  P146653
6            Social protection and risk management  P146653
6            Social protection and risk management  P146653
11    Environment and natural resources management  P146653
4         Financial and private sector development  P144140
...                                            ...      ...
11    Environment and natural resources management  P145057
2                         Public sector governance  P145057
5                            Trade and integration  P145057
6            Social protection and risk management  P145057
10                               Rural development  P146021
10                               Rural development  P146021
7                      Social dev/gender/inclusion  P146021
7                      Social dev/gender/inclusion  P146098
11    Environment and natural resources management  P146098
8                                Human development  P122700
4         Financial and private sector development  P122700
11    Environment and natural resources management  P126361
11    Environment and natural resources management  P126361
11    Environment and natural resources management  P126361
11    Environment and natural resources management  P126361
11    Environment and natural resources management  P131973
4         Financial and private sector development  P131973
6            Social protection and risk management  P132425
1                              Economic management  P132425
4         Financial and private sector development  P132425
2                         Public sector governance  P145118
8                                Human development  P145118
5                            Trade and integration  P145118
5                            Trade and integration  P145118
7                      Social dev/gender/inclusion  P125506
10                               Rural development  P125506
4         Financial and private sector development  P125506
10                               Rural development  P143988
11    Environment and natural resources management  P143988
6            Social protection and risk management  P144967

[100 rows x 2 columns]

**Also once the names are filled in the values of each are updated accordingly:**

In [32]:
code_df.name.value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

In [53]:
df_themes.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64